// http://www.color-blindness.com/color-name-hue/
$color-orient: #1C4366;

$color-primary: $color-orient;

// Neutral colors
$color-black: black;
$color-gray-70: hsl(0, 0%, 70%); // #b3b3b3
$color-white: white;

// Text color
$text-color: $color-black;
