.button {
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 17px;
  margin-top: 15px;
}

.button--primary {
  background-color: $color-primary;
  color: $color-white;
}

.button--aslink {
  width: auto;
  background-color: transparent;
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 15px;
}

.button--disabled {
  opacity: .5;
  cursor: not-allowed;
}