.button {
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: $color-primary;
  color: $color-white;
  font-size: 17px;
}

.button--disabled {
  opacity: .5;
  cursor: not-allowed;
}