.foodlineitem {
  padding-top: 5px;
  padding-bottom: 12px;
  position: relative;
  border-bottom: 1px solid #dedede;
}

.foodlineitem__top {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.foodlineitem__name {
  font-size: 17px;
  color: #000;
}

.foodlineitem__edit {
  margin-left: 10px;
}

.foodlineitem__data {
  display: flex;
}