.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #e4e4e4;
  z-index: 10;
}
.navigation__list {
  display: flex;
  list-style-type: none;
  text-align: center;
  background-color: $color-secondary;
}
.navigation__item {
  flex: 1;
  position: relative;
}
.navigation__link {
  display: block;
  padding: 23px 0;
  text-decoration: none;
  color: #fff;
}

.navigation__link--primary {
  height: 65px;
  line-height: 65px;
  padding: 0;
  font-size: 20px;
}
.navigation__link.nuxt-link-exact-active::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: $color-primary;
  top: 0;
  left: 0;
  right: 0;
}