.settings__row {
  + .settings__row {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid black;
  }
}

.settings__input {
  display: block;
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
}

.settings__button {
  margin-top: 10px;
}